<br>
<br>

<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2><b>Rewards Received</b></h2>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Rewards</th>
          <th>Rewards Created</th>
          <th>Rewards Expiration</th>
        </tr>
      </thead>
      <tbody>
        <% if @rewards.present? %>
          <% @rewards.each do |reward| %>
            <tr>
              <td><%= reward.name %></td>
              <td><%= reward.created_at.strftime('%F') %></td>
              <td><%= (reward.created_at + 1.month).strftime('%F') %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan='3' class="test-position"> No Rewards Found</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
